<!DOCTYPE>
<html>
<head>

	<!-- {% load staticfiles %} -->
	<link rel="stylesheet" type="text/css" href="stylesheet.css" />
	<title>{{ name }}</title>
	<!-- </script> WHAT DOES THIS DO?-->
</head>


<body class="header">
	<div id="header5" class="header5">
    <div class="section-container">
        <img src="header.png" class="logo" alt="wakawhitti">
        <ul id="navlist">
	        <div class="potato">junk, you can change this to a link (a href=) if you want</div>
<!-- 	        <li><a href="#connect" class="connect" data-panel="connect">CONNECT</a></li>
	        <li><a href="#about" class="about" data-panel="about">ABOUT</a></li> -->
        </ul>
    </div>
</div>
	<br></br>
	<img src="header.png" alt="Header">
	<form action="/suggestions/" method="post" class="form-inputs">
		<div id="container">
			<div class="departure">
				<h2>Departure</h2>
				<input type="date" name="departure_date" placeholder="Departure Date">
			</div>
			<div class="continent">
				<h2>Continent</h2>
				<select name="region" placeholder="Continent">
					<option value="Africa">AFRICA</option>
					<option value="Asia">ASIA</option>
					<option value="Austrailia">AUSTRAILIA</option>
					<option value="Europe">EUROPE</option>
					<option value="NA">NORTH AMERICA</option>
					<option value="SA">SOUTH AMERICA</option>
				</select>
			</div>
			<div class="return">
				<h2>Return</h2>
				<input type="date" name="return_date" placeholder="Return Date">
			</div> 
		</div>
		<div class="submit">
			<input type="submit" value="LET'S GO SOMEWHERE" id="submit-button">

		</div>
		<div>
			<img src="plane.png" alt="plane" style="height:75" >
		</div>

	</form>
	<footer>
		Created for BigRedHacks2014
		<br>
		by Dash, Jisun, Diana, and James
	</footer>
</body>
</html>